@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("OpenSans"), url("../fonts/OpenSans-Regular.ttf") format("ttf"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-style: bold;
  font-weight: 700;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("OpenSans"), url("../fonts/OpenSans-Bold.ttf") format("ttf"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "OpenSans";
  font-style: bolder;
  font-weight: 900;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("OpenSans"), url("../fonts/OpenSans-ExtraBold.ttf") format("ttf"), url("../fonts/OpenSans-ExtraBold.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 500;
  /* Браузер сначала попробует найти шрифт локально */
  src: url("../fonts/Tahoma.ttf") format("ttf"), url("../fonts/Tahoma.woff2") format("woff2"), url("../fonts/Tahoma.woff") format("woff");
}
@font-face {
  font-family: "Tahoma";
  font-style: bold;
  font-weight: 900;
  /* Браузер сначала попробует найти шрифт локально */
  src: url("../fonts/Tahoma-Bold.ttf") format("ttf"), url("../fonts/Tahoma-Bold.woff2") format("woff2"), url("../fonts/Tahoma-Bold.woff") format("woff");
}
/* reset */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "OpenSans";
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #1f2a3a;
}

a, button {
  transition: all 0.2s ease;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* OWL WRAPPER*/
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 65px;
  height: 20px;
}
.owl-carousel .owl-nav button.owl-next:hover img,
.owl-carousel .owl-nav button.owl-prev:hover img {
  filter: invert(0.4);
}

.owl-carousel.right-dots .owl-prev.disabled,
.owl-carousel.right-dots .owl-next.disabled {
  pointer-events: none;
  opacity: 0;
}

.owl-carousel .owl-dots {
  margin-top: 60px;
}

.owl-carousel .owl-nav {
  position: relative;
}

.owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
.owl-carousel .owl-nav button.owl-prev img {
  max-width: 100%;
}

.owl-carousel .owl-nav button.owl-next {
  right: 0;
}
.owl-carousel .owl-nav button.owl-next img {
  max-width: 100%;
}

.owl-dots {
  text-align: center;
}

.owl-dots button.owl-dot.active span,
.owl-dots button.owl-dot:hover span {
  background-color: #ececec;
}

.owl-dots button.owl-dot span {
  background-color: #1f2a3a;
  border-radius: 50%;
  height: 7px;
  width: 7px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 0.2s ease;
}

.owl-dots button.owl-dot {
  border-radius: 50%;
  height: 7px;
  width: 7px;
  position: relative;
  margin-right: 5px;
}

/***** Общие блоки ******/
h1 {
  font-size: 36px;
  color: #65666d;
  font-weight: 900;
}
h1 span {
  color: #2a558b;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}

.d-none {
  display: none;
}

.btn {
  border-radius: 10px;
  background: linear-gradient(to right, #1f2a3a, #2b5a95, #2b5a95);
  background-position: 0 0;
  background-size: 200% 100%;
  text-align: center;
  display: block;
  color: white;
  font-weight: 900;
  text-align: center;
}
.btn:hover {
  background-position: 100% 0;
  color: white;
  cursor: pointer;
}

.main-btn {
  padding: 15px 20px;
}

a:hover {
  cursor: pointer;
}

.link {
  color: #1f2a3a;
}
.link:hover {
  color: #2a558b;
}

.link.white {
  color: white;
}
.link.white:hover {
  color: #cecece;
}

.icon-item {
  font-weight: 900;
  font-family: "Tahoma";
}
.icon-item .icon {
  display: inline-block;
  margin-right: 12px;
  height: 100%;
  vertical-align: bottom;
}
.icon-item .info {
  display: inline-block;
  color: #1f2a3a;
  max-width: 220px;
  font-size: 12px;
}
.icon-item .info a {
  display: block;
}
.icon-item .info a span {
  display: block;
}
.icon-item .link:hover {
  border-bottom: 1px solid;
}

input {
  background-color: transparent;
  border-bottom: 1px solid #c5c6c6;
  font-size: 16px;
  padding-bottom: 10px;
  font-family: "Tahoma";
}
input:focus {
  border-color: #2a558b;
}
input::-moz-placeholder {
  color: #c5c6c6;
}
input::placeholder {
  color: #c5c6c6;
}

.social a:not(:last-child) {
  margin-right: 15px;
}

.burger {
  width: 26px;
  height: 26px;
  border: none;
  position: relative;
  display: none;
  z-index: 15;
  background: transparent;
}
.burger span,
.burger span::before,
.burger span::after {
  display: block;
  position: absolute;
  width: 26px;
  height: 2px;
  top: 40%;
  background-color: #1f2a3a;
}
.burger span::after {
  content: "";
  transform: translateY(7px);
  transition: all 0.2s ease;
}
.burger span::before {
  content: "";
  transform: translateY(-9px);
  transition: all 0.2s ease;
}

.burger.close span {
  height: 0 !important;
}
.burger.close span::before {
  transform: rotate(45deg) !important;
}
.burger.close span::after {
  transform: rotate(-45deg) !important;
}

#burger-close__catalog {
  margin-top: 10px;
  padding-left: 10px;
  width: 100%;
}
#burger-close__catalog span {
  height: 0 !important;
}
#burger-close__catalog span::before {
  transform: rotate(45deg) !important;
  background-color: white;
}
#burger-close__catalog span::after {
  transform: rotate(-45deg) !important;
  background-color: white;
}

.modal {
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
  opacity: 0;
}
.modal__inner {
  background-color: white;
  padding: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
}
.modal__title {
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #1f2a3a;
  margin-top: 10px;
}
.modal__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.modal__close {
  font-size: 24px;
  color: #bcbcbc;
  text-align: right;
  background-color: transparent;
}
.modal__button {
  width: 170px;
  height: 45px;
  font-size: 12px;
}
.modal__button.left {
  margin-right: 40px;
}

.modal.active {
  opacity: 1;
  z-index: 10000;
}

.modal-cart {
  border-radius: 10px;
  background: linear-gradient(to right, #1f2a3a, #2b5a95, #2b5a95);
  padding: 20px 28px;
  position: fixed;
  z-index: -1;
  opacity: 0;
  right: 0;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
}
.modal-cart__inner {
  display: flex;
  align-items: center;
}
.modal-cart p {
  font-size: 14px;
}
.modal-cart__link {
  font-size: 12px;
  border-bottom: 1px solid white;
  color: white;
}
.modal-cart__link:hover {
  color: white;
}
.modal-cart__link.to-cart {
  color: #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
  margin-left: 10px;
}
.modal-cart__info {
  display: inline-block;
  margin-right: 15px;
}
.modal-cart__icon {
  width: 35px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-cart__icon img {
  width: 100%;
}

.modal-cart.active {
  z-index: 100;
  opacity: 1;
}

/***** HEADER ******/
.header {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.header__top {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Tahoma";
}
.header__top p,
.header__top a {
  font-weight: bold;
}
.header__top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__top .shop-card {
  display: flex;
  align-items: center;
}
.header__top .shop-card p {
  font-size: 14px;
}
.header__top .shop-card__link {
  font-size: 12px;
  border-bottom: 1px solid #1f2a3a;
}
.header__top .shop-card__link.to-card {
  color: #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
  margin-left: 10px;
}
.header__top .shop-card__info {
  display: inline-block;
  margin-right: 5px;
}
.header__top .shop-card__icon {
  border-radius: 10px;
  background: linear-gradient(to right, #1f2a3a, #2b5a95, #2b5a95);
  background-position: 0 0;
  background-size: 200% 100%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__top .shop-card__icon img {
  transform: translateX(-1px);
}
.header__top .shop-card__icon:hover {
  background-position: 100% 0;
}
.header__bottom {
  background-color: #ededed;
}
.header__bottom .contacts {
  display: none;
}
.header__bottom #category-item {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav ul {
  display: flex;
  list-style-type: none;
  font-weight: bold;
}
.nav ul li {
  margin-right: 25px;
}
.nav__link {
  position: relative;
}
.nav__link::after {
  content: "";
  position: absolute;
  height: 4px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: #2a558b;
  width: 0;
  transition: 0.3s;
  z-index: 10;
}
.nav__link:hover::after {
  width: 100%;
}

/***** MAIN ******/
main {
  position: relative;
  flex: 1 1 auto;
}

/***** Боковое меню ******/
.side-nav {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50px;
  z-index: 10;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.side-nav__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50px;
  background-color: #1f2a3a;
}
.side-nav__link {
  margin-top: 10px;
  color: white;
  width: 400px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.side-nav__link:hover {
  background-color: #2a558b;
}
.side-nav__link:hover span {
  border-color: inherit;
}
.side-nav__link .text {
  display: inline-block;
  vertical-align: middle;
}
.side-nav__link img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  width: 30px;
}
.side-nav__link span {
  display: block;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
  color: white;
}

.side-nav.open {
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10000;
}
.side-nav.open .side-nav__inner {
  width: 400px;
}

/***** Секции ******/
.skewed-title {
  position: relative;
  height: 55px;
  font-weight: 900;
  color: white;
}
.skewed-title h2 {
  font-size: 24px;
  z-index: 10;
  padding-top: 10px;
  padding-right: 30px;
  display: inline-block;
}
.skewed-title::before {
  content: "";
  position: absolute;
  width: 400%;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(to right, #1f2a3a 75%, #2b5a95);
  transform: skewX(-60deg);
  z-index: -1;
}
.skewed-title::after {
  content: "";
  position: absolute;
  width: 400%;
  height: 100%;
  right: -40px;
  top: -10px;
  background: #ededed;
  transform: skewX(-60deg);
  z-index: -2;
}
.skewed-title__link {
  font-size: 14px;
  color: white;
  margin-left: 20px;
  border-bottom: 1px solid white;
}
.skewed-title__link:hover {
  color: #cecece;
  border-color: #cecece;
}

.skewed-title.st50 {
  width: 50%;
}

.intro {
  padding-top: 50px;
  padding-bottom: 60px;
}
.intro__inner {
  display: flex;
  height: 100%;
}
.intro__inner .info-text {
  flex: 40%;
}
.intro__inner .info-text .btn {
  margin-top: 40px;
  width: 185px;
}
.intro__inner .img {
  flex: 60%;
  text-align: center;
}
.intro__inner .img img {
  max-width: 100%;
  max-height: 100%;
}

.search {
  background-color: #ededed;
}
.search__inner {
  display: flex;
}
.search__form {
  display: flex;
  align-items: center;
}
.search__form .input {
  flex: 1;
  background-color: transparent;
  border-bottom: 1px solid #b0b0b0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 10px;
  font-family: "Tahoma";
}
.search__form .input:focus {
  border-color: #2a558b;
}
.search__btn {
  width: 180px;
  height: 55px;
}

.orders {
  padding-top: 30px;
  padding-bottom: 30px;
}
.orders .container {
  overflow: hidden;
}
.orders__title {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1rem;
  color: #2a558b;
  position: relative;
  width: 100%;
  color: #1f2a3a;
}
.orders__title::before, .orders__title::after {
  background-color: #65666d;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: super;
  width: 50%;
}
.orders__title::before {
  right: 20px;
  margin-left: -50%;
}
.orders__title::after {
  left: 20px;
  margin-right: -50%;
}
.orders__subtitle {
  max-width: 370px;
  font-family: "Tahoma";
  font-size: 12px;
  color: #b0b0b0;
  text-align: center;
  margin: 15px auto 0 auto;
}
.orders__list {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
}
.orders__list .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
}
.orders__list .item .img {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(to right, #1f2a3a, #2b5a95, #2b5a95);
  background-position: 0 0;
  background-size: 200% 100%;
  width: 93px;
  height: 93px;
  transition: all 0.2s ease-in-out;
}
.orders__list .item:hover {
  color: #2a558b;
}
.orders__list .item:hover .img {
  background-position: 100% 0;
}

.orders.only-header {
  margin-bottom: 60px;
}

.orders.only-header.cart {
  margin-top: 50px;
}

.how-work {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #1f2a3a;
}
.how-work .hr {
  height: 1px;
  width: 140px;
}
.how-work__title {
  font-size: 18px;
  font-weight: 900;
}
.how-work__list {
  margin: 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.how-work__list .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  position: relative;
  width: 207px;
}
.how-work__list .item .img {
  margin-bottom: 35px;
  height: 50px;
  transition: all 0.2s ease-in-out;
  width: 100%;
  position: relative;
}
.how-work__list .item:not(:last-child)::after {
  content: "";
  background-color: black;
  height: 1px;
  position: absolute;
  width: 140px;
  right: -90px;
  top: 20px;
}
.how-work__list .item .text {
  max-width: 200px;
  font-size: 14px;
}

.work-since__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1f2a3a;
}
.work-since__inner .item {
  flex: 50%;
}
.work-since__inner .item .text {
  margin: 50px 0 100px 0;
}
.work-since__inner .item .text p {
  margin-bottom: 20px;
}
.work-since__inner .item-img {
  display: flex;
  justify-content: end;
  align-items: center;
}
.work-since__inner .item-img img {
  max-width: 100%;
}

.slider-sect {
  padding-bottom: 55px;
}
.slider-sect__carousel {
  margin: 50px 0 25px 0;
}
.slider-sect__carousel.right-dots .owl-dots {
  text-align: right;
  margin-right: 270px;
}
.slider-sect__carousel.right-dots .owl-nav button.owl-prev {
  right: 320px;
  left: auto;
}

.buy-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-align: center;
  color: #1f2a3a;
  font-weight: 900;
  width: 220px;
  height: 350px;
}
.buy-item .img {
  height: 172px;
  width: 207px;
  background-color: #ededed;
}
.buy-item .img img {
  width: 100%;
  height: 100%;
}
.buy-item .title {
  margin-top: 25px;
  max-width: 220px;
}
.buy-item .price {
  margin-top: auto;
}
.buy-item .btn-buy {
  margin-top: 20px;
  padding: 15px 20px;
  background-color: #ececec;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ececec;
}
.buy-item .btn-buy:hover {
  background-color: transparent;
  border-color: #1f2a3a;
}

footer {
  background-color: #d3d3d3;
  font-family: "Tahoma";
  font-weight: 900;
  position: relative;
}
footer .top {
  padding-bottom: 2px;
  position: relative;
}
footer .footer__col {
  width: 50%;
}
footer .footer__col.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  margin-right: 70px;
}
footer .footer__inner {
  display: flex;
}
footer .footer__inner .div {
  height: 140px;
  width: 1px;
  background-color: black;
}
footer .footer__inner .contacts .icon-item:not(:last-child) {
  margin-bottom: 40px;
}
footer .footer__inner .social {
  display: flex;
  flex-direction: column;
}
footer .footer__inner .social a:not(:last-child) {
  margin-bottom: 40px;
}
footer .bottom {
  background-color: #1f2a3a;
  padding: 30px 0;
  font-weight: 900;
  color: white;
}
footer .bottom__inner {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
footer .bottom a {
  color: white;
}
footer .bottom a:hover {
  color: #2b5a95;
}
footer #map {
  background-color: #cecece;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  padding-bottom: 2px;
}

/***** Контентная часть ******/
.content-header {
  padding: 23px 0;
  background-color: #c5c6c6;
}
.content-header .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.content-header .title__link {
  font-size: 16px;
}
.content-header h2,
.content-header .link {
  font-weight: 900;
  color: #1f2a3a;
}
.content-header .link {
  border-bottom: 1px solid;
}
.content-header .link:hover {
  color: #2b5a95;
}
.content-header h2 {
  font-size: 24px;
  margin-right: 10px;
}
.content-header .bread-crumbs {
  color: #525252;
  margin-top: 10px;
}

.breadscrumbs {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadscrumbs .separator {
  display: inline-block;
  margin-right: 5px;
  color: #525252;
}
.breadscrumbs a {
  color: #525252;
}
.breadscrumbs a:hover {
  text-decoration: underline;
  color: #2b5a95;
}

section.breadscrumbs {
  margin: 30px 0;
  color: #ededed;
}
section.breadscrumbs a {
  color: #65666d;
}

.content__inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}
.content__inner .buy-item {
  width: 25%;
  margin-bottom: 55px;
}

/***** Каталог ******/
.catalog {
  padding-top: 55px 0;
}
.catalog__inner {
  display: flex;
  flex-wrap: wrap;
}
.catalog__item {
  width: 25%;
  text-align: center;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.catalog__item .img {
  width: 200px;
  height: 200px;
  background-color: #202c3f;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.catalog__item .text {
  margin-top: 40px;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
  max-width: 200px;
}
.catalog__item:hover .img {
  background-color: #ededed;
}
.catalog__item:hover .img img {
  filter: invert(1);
}

/***** Корзина ******/
.cart {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  color: #1f2a3a;
}
.cart__table span {
  font-weight: 900;
  display: block;
}
.cart__table .th {
  font-size: 16px;
}
.cart__table a {
  font-weight: 900;
  display: block;
}
.cart__table .tc-photo {
  width: 240px;
}
.cart__table .tc-name {
  width: 325px;
}
.cart__table .tc-count {
  width: 210px;
}
.cart__table .tc-count.row-cell span {
  display: inline-block;
  margin: 0 17px;
}
.cart__table .tc-sum {
  width: 150px;
}
.cart__table .tc-clear {
  width: 160px;
  justify-content: center;
}
.cart__table .cell {
  display: flex;
  align-items: center;
}
.cart__table .minus,
.cart__table .plus {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #e6e6e6;
  font-weight: 900;
  color: #1f2a3a;
  display: inline-block;
  transition: all 0.2s ease;
  position: relative;
}
.cart__table .minus:hover,
.cart__table .plus:hover {
  cursor: pointer;
  background-color: #1f2a3a;
  color: #ededed;
}
.cart__table .plus {
  line-height: 17px;
}
.cart__table .minus {
  line-height: 13px;
}
.cart__table .headers {
  border-bottom: 1px solid #1f2a3a;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  font-weight: 900;
}
.cart__table .row {
  padding: 35px 0;
  border-bottom: 1px solid #1f2a3a;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.cart__table .row.selected {
  background-color: #f3f3f3;
}
.cart__table .img {
  background-color: #ededed;
  width: 125px;
  height: 102px;
}
.cart__table .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart__info {
  margin: 30px 0;
  text-align: right;
}
.cart__info span {
  font-weight: 900;
}
.cart__order {
  padding: 12px 22px;
  font-size: 12px;
  margin-left: auto;
  float: right;
}
.cart__clear {
  width: 160px;
  height: 36px;
  font-size: 12px;
}
.cart__btn {
  padding: 12px 17px;
  font-size: 12px;
}
.cart button.cart__order {
  padding-top: 0;
}

.clear {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #1f2a3a;
  color: #ededed;
  font-weight: 900;
  line-height: 28px;
}
.clear:hover {
  cursor: pointer;
  background-color: #e6e6e6;
  color: #1f2a3a;
}

/***** Страница заказа *****/
.product {
  /*.gallery {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 125px);
      grid-gap: 5px;

      .img {
          background-color: $gray;
      }

      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }

      &__main {
          grid-column-start: 1;
          grid-column-end: 4;
          grid-row-start: 1;
          grid-row-end: 4;
      }
  }*/
}
.product__inner {
  display: flex;
  justify-content: space-between;
}
.product__description {
  max-width: 685px;
  padding-right: 15px;
}
.product__description .text {
  margin: 40px 0 20px 0;
}
.product__description .text p {
  font-size: 14px;
  color: #1f2a3a;
  margin-bottom: 20px;
}
.product__title {
  font-size: 18px;
  font-weight: 900;
  color: #1f2a3a;
}
.product__settings {
  min-width: 25%;
  max-width: 360px;
}
.product__settings .settings {
  margin: 30px 0;
}
.product__settings .item {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__settings .item .prop {
  font-weight: 900;
  color: #1f2a3a;
  font-size: 12px;
  margin-right: 15px;
}
.product__settings select {
  font-size: 12px;
  padding-left: 15px;
  color: #1f2a3a;
}
.product__settings .to-cart {
  padding: 15px 20px;
}
.product__settings .contacts {
  margin: 30px 0;
}
.product__settings .contacts .product__title {
  margin-bottom: 30px;
}
.product__settings .contacts .social {
  margin-left: 12px;
}
.product__sum {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 16px;
}
.product__sum span {
  display: inline;
}
.product .icon-item {
  margin-bottom: 25px;
}
.product .gallery {
  height: 385px;
  display: flex;
  gap: 5;
  position: relative;
}
.product .gallery__main {
  width: 500px;
  height: 100%;
  margin-right: 5px;
  position: relative;
  background-color: #ededed;
}
.product .gallery__main img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product .gallery__main .item {
  opacity: 0;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.product .gallery__main .item.active {
  z-index: 100;
  opacity: 1;
}
.product .gallery .thumbnails {
  width: 170px;
  overflow: auto;
  position: relative;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.product .gallery .thumbnails::-webkit-scrollbar {
  display: none;
}
.product .gallery .thumbnails__inner {
  transition: all 0.2s ease-in;
  display: flex;
  flex-direction: column;
  width: 164px;
}
.product .gallery .thumbnails__inner .item {
  width: 100%;
  height: 124px;
  margin-bottom: 5px;
  border: 2px solid transparent;
}
.product .gallery .thumbnails__inner .item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .gallery .thumbnails__inner .item:hover {
  cursor: pointer;
}
.product .gallery .thumbnails__inner .item.active {
  border-color: black;
}

/***** Форма заказа ******/
.order-form .form__title {
  background-color: #ededed;
  padding: 25px 0;
}
.order-form .form__title h2 {
  font-weight: 900;
  font-size: 18px;
  color: #1f2a3a;
}
.order-form .form__table {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  display: block;
  margin-bottom: 40px;
  font-weight: 400;
  border-collapse: collapse;
  font-weight: 900;
}
.order-form .form__table .col1 {
  width: 400px;
}
.order-form .form__table .col2 {
  width: 150px;
}
.order-form .form__table .col3 {
  width: 140px;
}
.order-form .form__table .col4 {
  width: 40px;
}
.order-form .form__table th {
  padding: 16px 0;
  display: inline-block;
  text-align: left;
  font-weight: 900;
}
.order-form .form__table td {
  display: inline-block;
  white-space: normal;
  padding: 15px 0;
  color: black;
}
.order-form .form__table td img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.order-form .form__inputs {
  padding-top: 45px;
  padding-bottom: 65px;
  color: #1f2a3a;
}
.order-form .form__inputs .input-item-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.order-form .form__inputs .input-item-wrapper .mark {
  flex: 1;
  text-align: right;
  margin-right: 70px;
}
.order-form .form__inputs .input-item.submit-order {
  min-width: 720px;
}
.order-form .form__inputs .input-item {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  width: 40%;
}
.order-form .form__inputs .input-item input {
  flex: 1;
  padding-bottom: 0;
  font-size: 14px;
}
.order-form .form__inputs .input-item.input-radio {
  width: 100%;
}
.order-form .form__inputs .input-item:not(:last-child) {
  margin-bottom: 33px;
}
.order-form .form__inputs label {
  font-weight: 900;
  margin-right: 10px;
}
.order-form .form .order-info {
  margin-left: auto;
  text-align: right;
  color: #1f2a3a;
}
.order-form .form .order-info span {
  font-weight: 900;
}
.order-form .form .order-btn {
  width: 155px;
  height: 40px;
  font-size: 12px;
}

.form_radio {
  margin-bottom: 10px;
}
.form_radio input[type=radio] {
  display: none;
}
.form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 47px;
  margin-right: 0;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.form_radio label::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #ededed;
  border: 4px solid #ededed;
}
.form_radio input[type=radio]:checked + label:before {
  background-color: #2b5a95;
}
.form_radio label:hover:before {
  filter: brightness(90%);
}
.form_radio input[type=radio]:disabled + label:before {
  filter: grayscale(100%);
}
.form_radio .description {
  color: #a1a1a1;
  font-size: 12px;
  margin-left: 47px;
  margin-top: 10px;
}

.input-file {
  position: relative;
  display: inline-block;
}
.input-file span.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  box-sizing: border-box;
  border: none;
  margin: 0;
  width: 155px;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
}
.input-file input[type=file] {
  position: absolute;
  z-index: 100;
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
}
.input-file input[type=file]:focus + span.btn {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.input-file span.file-loaded {
  margin-left: 5px;
  color: #65666d;
}
.input-file span.file-loaded:hover {
  cursor: none;
  pointer-events: none;
}

select {
  width: 142px;
  height: 26px;
  font-size: 14px;
  border: 1px solid #b0b0b0;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  content: "▼";
  position: absolute;
  color: #21354d;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1340px) {
  .side-nav {
    width: 0;
  }
  .side-nav__inner {
    width: 0;
    overflow-y: auto;
  }
  .header__bottom #category-item {
    display: block;
  }
}
@media (max-width: 1200px) {
  h1 {
    font-size: 32px;
  }
  .header__top .social {
    display: none;
  }
  .orders__list {
    justify-content: space-around;
  }
  .how-work__list .item {
    width: 18%;
  }
  .how-work__list .item:not(:last-child)::after {
    width: 100px;
    right: -50px;
  }
  .slider-sect__carousel.right-dots .owl-nav button.owl-prev {
    right: 340px;
  }
  footer .footer__col.left {
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 28px;
  }
  .burger {
    display: block;
  }
  .header {
    height: 100%;
    width: 100%;
    z-index: 1000;
  }
  .header .logo {
    margin-left: 50px;
  }
  .header__top {
    background-color: white;
    z-index: 5;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.12);
  }
  .header__top .icon-item,
  .header__top .social {
    display: none;
  }
  .header__bottom {
    height: 0;
    width: 100%;
    position: fixed;
    transition: all 0.2s ease;
    overflow: auto;
    background-color: white;
  }
  .header__bottom .nav ul {
    flex-direction: column;
  }
  .header__bottom .nav ul li {
    padding: 15px 0;
    border-bottom: 1px solid #ededed;
  }
  .header__bottom .nav__link {
    font-size: 18px;
  }
  .header__bottom #category-item {
    order: -1;
  }
  .header__bottom #category {
    color: #2b5a95;
  }
  .header__bottom .contacts {
    display: block;
    background-color: #ededed;
    padding: 20px 0;
    height: 100%;
  }
  .header__bottom .contacts__item {
    font-size: 14px;
    margin: 12px 0;
  }
  .header__bottom .contacts__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__bottom.open {
    height: 100%;
    padding-top: 80px;
  }
  .side-nav {
    position: fixed;
    top: 0;
    z-index: 10000;
  }
  .side-nav .burger.close {
    margin-top: 40px !important;
    margin-bottom: 40px;
  }
  .intro__inner .info-text {
    flex: 50%;
  }
  .how-work__list .item .text {
    font-size: 12px;
  }
  .how-work__list .item:not(:last-child)::after {
    width: 60px;
    right: -28px;
  }
  .skewed-title.st50 {
    width: 70%;
  }
  footer .footer__inner {
    flex-wrap: wrap;
  }
  footer .footer__col {
    width: 100%;
  }
  footer .footer__col.left {
    justify-content: space-around;
  }
  footer #map {
    height: 300px;
    position: relative;
  }
  footer .bottom__inner {
    width: 100%;
  }
  .catalog__item .img {
    width: 150px;
    height: 150px;
  }
  .content__inner .buy-item {
    width: 33%;
  }
  .product__inner {
    flex-wrap: wrap;
  }
  .product__description {
    flex: 100%;
    max-width: 100%;
    padding-right: 0;
  }
  .product__description .text {
    max-width: 670px;
  }
  .product__settings {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .product__settings .contacts {
    margin-top: 0;
  }
  .product__settings .item .prop {
    font-size: 14px;
  }
  .product__sum {
    font-size: 20px;
  }
  .order-form .form__inputs .input-item {
    width: 60%;
  }
  .order-form .form__inputs .input-item-wrapper .mark {
    flex: 100%;
    text-align: left;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  /*** Main page***/
  h1 {
    font-size: 24px;
  }
  .skewed-title {
    display: flex;
    align-items: center;
    width: 90%;
  }
  .skewed-title h2 {
    font-size: 20px;
    padding-top: 0;
  }
  .skewed-title.st50 {
    width: 85%;
  }
  .intro__inner .info-text {
    flex: 70%;
  }
  .search__btn {
    height: 45px;
    width: 140px;
  }
  .orders {
    padding-bottom: 0;
  }
  .orders__list {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .orders__list .item {
    font-size: 14px;
    flex: 33%;
    margin-bottom: 30px;
  }
  .orders__list .item .img {
    width: 73px;
    height: 73px;
    margin-bottom: 15px;
  }
  .orders__list .item .img img {
    width: 40px;
  }
  .how-work__list .item:not(:last-child)::after {
    width: 40px;
    right: -20px;
  }
  .work-since__inner .item {
    flex: 65%;
  }
  .work-since__inner .item-img {
    flex: 32%;
    align-self: baseline;
    margin-top: 90px;
  }
  .owl-carousel .owl-nav button.owl-next {
    width: 150px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    width: 150px;
    right: 0;
    left: 0;
  }
  .slider-sect__carousel.right-dots .owl-nav button.owl-prev {
    right: 0;
    left: 0;
  }
  .slider-sect__carousel.right-dots .owl-dots {
    text-align: center;
    margin-right: 0;
  }
  /*** CART ***/
  .cart__clear {
    margin-left: auto;
  }
  .cart__table .th {
    display: none;
  }
  .cart__table .row {
    flex-wrap: wrap;
  }
  .cart__table .tc-photo {
    flex: 30%;
    justify-content: left;
    order: 1;
  }
  .cart__table .tc-name {
    flex: 70%;
    order: 2;
  }
  .cart__table .tc-count {
    order: 4;
    flex: 50%;
    justify-content: left;
    margin-top: 30px;
  }
  .cart__table .tc-sum {
    order: 5;
    flex: 50%;
    justify-content: right;
    margin-top: 30px;
  }
  .cart__table .tc-clear {
    width: 100%;
    margin-bottom: 10px;
  }
  .cart__table .tc-clear.cell {
    position: absolute;
    right: 0;
    top: 10px;
    width: auto;
    max-width: 150px;
  }
  .breadscrumbs {
    font-size: 12px;
  }
  /*** CATALOG ***/
  .catalog__item {
    width: 33%;
  }
  .catalog__item .text {
    margin-top: 20px;
  }
  /*** CATEGORY ***/
  .content__inner .buy-item {
    width: 50%;
  }
  /*** ORDER ***/
  .order-form .form__inputs .input-item {
    width: 100%;
  }
  .order-form .form__inputs .input-item.submit-order {
    min-width: 100%;
  }
  .product .gallery {
    height: 350px;
  }
  .product .gallery__main {
    height: 350px;
    width: 70%;
  }
  .product .gallery .thumbnails {
    width: 29%;
  }
  .product .gallery .thumbnails__inner {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .icon-item .link,
  .icon-item p {
    font-size: 14px;
  }
  .icon-item .info {
    max-width: 100%;
  }
  .skewed-title {
    width: 75%;
    flex-wrap: wrap;
    height: auto;
    padding: 10px 0;
  }
  .skewed-title h2 {
    width: 100%;
    font-size: 20px;
  }
  .skewed-title__link {
    margin-left: 0;
    margin-top: 10px;
  }
  .skewed-title::before, .skewed-title::after {
    transform: skewX(-50deg);
  }
  .skewed-title::after {
    right: -30px;
  }
  .skewed-title.st50 {
    width: 75%;
  }
  .intro__inner {
    flex-wrap: wrap-reverse;
  }
  .intro__inner .img {
    margin-bottom: 20px;
    height: 150px;
  }
  .search__icon {
    display: none;
  }
  .search__form .input {
    margin-left: 0;
  }
  .search__btn {
    width: 100px;
  }
  .orders__title::after,
  .orders__title::before {
    content: none;
  }
  .orders__list .item {
    flex: 50%;
    margin-bottom: 20px;
  }
  .orders.only-header.cart {
    margin-top: 20px;
  }
  .how-work__list {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .how-work__list .item {
    width: 100%;
  }
  .how-work__list .item:not(:last-child) {
    margin-bottom: 55px;
  }
  .how-work__list .item:not(:last-child)::after {
    height: 40px;
    width: 1px;
    bottom: -45px;
    left: 50%;
    top: auto;
  }
  .how-work__list .item .img {
    margin-bottom: 5px;
  }
  .buy-item {
    width: 100%;
  }
  .header__top .shop-card__info {
    display: none;
  }
  .header .logo {
    margin-left: 0;
  }
  .work-since__inner .item {
    flex: 100%;
  }
  .work-since__inner .item .text {
    margin: 20px 0 40px 0;
    font-size: 16px;
  }
  .work-since__inner .item-img {
    display: none;
  }
  footer .footer__col.left {
    flex-direction: column;
    align-items: baseline;
    padding: 15px 0;
  }
  footer .footer__col.left .item {
    margin-bottom: 30px;
  }
  footer .footer__inner .div {
    display: none;
  }
  footer .footer__inner .social {
    flex-direction: row;
  }
  footer .footer__inner .social a:not(:last-child) {
    margin-bottom: 0;
  }
  .owl-carousel .owl-nav button.owl-next {
    display: none;
  }
  .owl-carousel .owl-nav button.owl-prev {
    display: none;
  }
  .cart__table .tc-photo {
    flex: 10%;
    align-items: baseline;
    justify-content: left;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  .cart__table .tc-name {
    width: 100%;
    padding-left: 20px;
    flex: 80%;
  }
  .cart__table .tc-count {
    padding-left: 20px;
  }
  .cart__table .img {
    max-width: 80px;
    max-height: 80px;
  }
  /*** CATALOG ***/
  .catalog__item {
    width: 50%;
    margin-bottom: 35px;
  }
  .content__inner {
    margin-top: 30px;
  }
  .product__description .text p {
    font-size: 16px;
  }
  .product__settings {
    flex-wrap: wrap;
    padding-left: 0;
    min-width: 270px;
  }
  .product__settings .wrap {
    width: 100%;
  }
  .product__settings .contacts {
    margin-top: 20px;
  }
  .product .gallery {
    flex-wrap: wrap;
    height: auto;
  }
  .product .gallery__main {
    width: 100%;
    height: 300px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .product .gallery .thumbnails {
    width: 100%;
  }
  .product .gallery .thumbnails__inner {
    flex-direction: row;
  }
  .product .gallery .thumbnails__inner .item {
    min-width: 120px;
    width: 120px;
    height: 100px;
    margin-right: 10px;
  }
}
@media (max-width: 485px) {
  .content-header .link {
    text-align: center;
  }
  .content__inner .buy-item {
    width: 100%;
    margin-bottom: 15px;
    height: 370px;
    padding: 15px 0;
  }
  .content__inner .buy-item:not(:last-child) {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
  }
  /*** ORDER ***/
  .order-form .form__inputs {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .order-form .form__inputs .input-item {
    width: 100%;
    flex-direction: column;
    align-items: baseline;
  }
  .order-form .form__inputs .input-item label {
    margin-bottom: 10px;
  }
  .order-form .form__inputs .input-item input {
    font-size: 16px;
    width: 100%;
  }
  .order-form .form__inputs .input-item select, .order-form .form__inputs .input-item .select-wrapper {
    width: 100%;
  }
  .order-form .form__table .col1 {
    width: 220px;
    padding-right: 10px;
  }
  .order-form .form__table .col2 {
    width: 120px;
  }
  .order-form .order-btn {
    order: 1;
    margin-top: 15px;
    align-self: flex-end;
  }
  .modal__inner {
    width: 97%;
  }
  .modal__button.left {
    margin-right: 10px;
  }
}
@media (max-width: 400px) {
  .catalog__item {
    width: 100%;
  }
}